@media screen and (min-width: 750px) {
    .title {
        top: 130px;
        width: 600px;
    }
    .clock {
        top: 50px;
        width: 265px;
    }
    .saying {
        top: 350px;
        font-size: 35px;
    }
    .definition {
        top: 430px;
    }
    .plan {
        top: 580px;
        text-align: center;
        flex-direction: row;
        justify-content: center;
    }
    .plan1 {
        width: 600px;
    }
    .plan2 {
        line-height: 50px;
    }

    button {
        top: 800px;
        width: 450px;
    }
    button::after {
        top: 0;
        left: 450px;
    }

    footer {
        top: 950px;
    }
}