@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-color: #5B2386;
}
.title {
    position:absolute;
    top: 50px;
    width: 600px;
}
.clock {
    position:absolute;
    top: 50px;
    float:left;
    width: 300px;
    z-index: -10;
}
.saying {
    color: yellow;
    font-family: 'OTEnjoystoriesBA';
}
p {
    margin: 5px;
}

@media screen and (max-width: 750px) {
    .title {
        position: absolute;
        top: 80px;
        width: 400px;
    }

    /* why not working.. */
    .title::after {
        content: url('./img/clock.png');
        width: 180px;
        position: absolute;
        top: 90px;
        left: -100px;
        z-index: -10;
    }
    
    .clock {
        position:absolute;
        top: 30px;
        float:left;
        width: 180px;
        z-index: -10;
    }
    .saying {
        position: absolute;
        top: 250px;
        color: yellow;
        font-size: 30px;
    }
    .saying::after {
        content: url('./img/quotes.png');
        position: absolute;
        top: 90px;
        left: -45px;
    }
    p {
        color: white;
        font-family: 'GmarketSansMedium';
        font-size: 20px;
        line-height: 1.3em;
        text-align: center;
    }
    p strong {
        font-family: 'GmarketSansBold';
    }
    .plan p {
        display: inline;
    }
    .def {
        position: absolute;
        top: 320px;
    }
    .plan {
        position: absolute;
        top: 460px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    input {
        display: inline;
        width: 160px;
        height: 40px;
        border: none;
        border-radius: 10px;
        margin: 0 5px;
        padding: 5px 20px;
        font-size: 20px;
        line-height: 1.3em;
    }
    .input-user::placeholder {
        color: #BABCBE;
        font-family: 'GmarketSansMedium';
    }

    button {
        position: absolute;
        top: 650px;
        background-color: #FCEE21;
        border-radius: 13px;
        border: 0;
        width: 280px;
        height: 68px;
        padding: 5px 20px;
        font-size: 18px;
        text-align: center;
    }
    button p {
        color: #5B2386;
        font-family: 'GmarketSansBold';
        font-size: 18px;
    }
    button::after {
        content: url('./img/click.png');
        position: absolute;
        top: 20px;
        left: 280px;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 800px;
    }
    footer p {
        font-size: 10px;
    }
}