@media screen and (min-width: 750px) {
  .title {
    margin: 50px 0 120px;
    width: 600px;
  }
  .clock {
    top: 50px;
    width: 265px;
  }

  .saying {
    margin-bottom: 50px;
    font-size: 35px;
  }
  .definition {
    margin-bottom: 80px;
  }

  .plan {
    margin-bottom: 80px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    width: 800px;
  }
  .plan1 {
    margin-bottom: 10px;
    width: 600px;
  }
  .plan2 {
    line-height: 50px;
  }

  button p {
    font-size: 20px;
  }

  .calculate {
    margin-bottom: 80px;
    width: 460px;
  }
  .calculate::after {
    top: 0;
    left: 460px;
  }

  .loading {
    margin-bottom: 80px;
  }
  .loading img {
    width: 100px;
  }

  .result > p {
    line-height: 3em;
  }
  .result strong {
    font-size: 60px;
  }

  .modal-message p:first-child {
    font-size: 80px;
  }
  .modal img {
    width: 433px;
  }
  .modal button {
    width: 450px;
    padding: 5px 30px;
  }

  footer {
    top: 950px;
  }
}
