@keyframes rotateClock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  background-color: #5b2386;
}

.title {
  position: relative;
  width: 400px;
  margin-bottom: 90px;
}
.title::after {
  content: url("../img/clock.png");
  width: 180px;
  position: absolute;
  top: 90px;
  left: -100px;
  z-index: -10;
}

.clock {
  position: absolute;
  top: 30px;
  float: left;
  width: 180px;
  z-index: -10;
}

.saying {
  margin-bottom: 40px;
  color: #f5df4d;
  font-family: "OTEnjoystoriesBA";
  font-size: 30px;
}

.definition {
  position: relative;
  margin-bottom: 70px;
}
.definition::after {
  content: url("../img/quotes.png");
  position: absolute;
  width: 100px;
  top: 20px;
  left: -35px;
}

p {
  color: white;
  font-family: "GmarketSansMedium";
  font-size: 20px;
  line-height: 1.3em;
  text-align: center;
  margin: 5px;
}
p strong {
  font-family: "GmarketSansBold";
}

.plan {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 480px;
  text-align: center;
}
.plan p {
  display: inline;
}

.input-user {
  display: inline;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin: 0 5px;
  padding: 5px 20px;
  font-size: 20px;
  line-height: 1.3em;
}
.input-user::placeholder {
  color: #babcbe;
  font-family: "GmarketSansMedium";
}

button {
  background-color: #fcee21;
  border-radius: 20px;
  border: 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
button p {
  color: #5b2386;
  font-family: "GmarketSansBold";
  font-size: 18px;
}

.calculate {
  margin-bottom: 70px;
  position: relative;
  width: 290px;
  padding: 5px 30px;
}
.calculate::after {
  content: url("../img/click.png");
  position: absolute;
  top: 20px;
  left: 290px;
}

.loading {
  display: none;
  margin-bottom: 50px;
}
.loading img {
  display: inline-block;
  width: 80px;
  animation: rotateClock 1.5s linear infinite;
}

.result {
  display: none;
  margin-bottom: 80px;
}
.result > p {
  line-height: 1.8em;
}
.result strong {
  padding: 0 10px;
  font-size: 25px;
}
.result article {
  margin-top: 50px;
  text-align: center;
}
.result button {
  padding: 5px 30px;
  margin: 5px 5px;
}
.result .share {
  background-color: white;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.modal {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  background-color: white;
  border-radius: 20px;
}
.modal-message p {
  text-align: center;
  color: #5b2386;
  font-family: "OTEnjoystoriesBA";
  font-size: 30px;
  line-height: 0.8em;
}
.modal-message p:first-child {
  font-size: 60px;
}
.modal img {
  margin: 0 auto;
}
.modal button {
  width: 330px;
  padding: 10px 60px;
  margin-top: 20px;
  box-shadow: 0 5px 16px 0px rgba(0, 0, 0, 0.3);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer img {
  margin-bottom: 20px;
  width: 125px;
}
footer p {
  font-size: 10px;
}
